@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;600&family=Open+Sans&display=swap');


.navv{
    padding: 24px, 120px, 24px, 120px;
    height: 100px;
    width: 1544px;
    position: fixed !important;
    z-index: 20;
    background-color: white;
    margin-top: -100px;

    
}

.logo{
    width: 70px;
    height: 60px;
    margin-left: 90px;
}

.nav-content{
    /* background-color: red; */
    align-items: center;
    margin-left: 360px;
    
}


.download-now{
    /* border: 2px solid red; */
    border-radius: 10px;
    background-color: rgba(109, 24, 48, 1);
    color:white !important;
    /* padding: 56px, 38px, 56px, 38px; */
    margin-left: 200px;
    height: 58px;
    width: 183px;
    text-align: center;
    padding-top: 15px;
    padding-left: 6px;
    font-weight: 700;
}

.navbar-link:active{
    color: rgba(109, 24, 48, 1) !important;
    animation-duration: 3s;

}

.view{
    height: 755.84px;
    background-color: #FFF9F2;
    padding-top: 200px;
    padding-bottom:100px;
    margin-top: 100px;
}

.view-img{
    float: right;
    width: 558.59px;
    height: 505.84px;
    margin-top: -80px;
    margin-right: 8px;
    
    
}


.download-button{
    /* border: 2px solid red; */
    border-radius: 10px;
    background-color: rgba(109, 24, 48, 1);
    margin-left: 100px;
    height: 50px;
    width: 183px;
    text-align: center;
    font-weight: 700;
    color: #FFF9F2;
}

.navbar-link{
    font-family: 'Open Sans' !important;
    font-weight: 600 !important;
    font-size: 15px !important;
    margin-right: 25px;
}

.container-view{
    display: flex;
    flex-direction: row;
    background-color: rgba(20, 57, 76, 1);
    height: 301px;
    
}

.about-view{
    margin-left: 200px;
    margin-top: 70px;
    
}

.about-viewe{
    margin-top: 90px;

}

.view-head{
    width: 590px;
    height: 52px;
    font-family: 'Lora';
    font-weight: 600;
    font-size: 45px;
    color: white;
}

.view-content{
    width: 590px;
    height: 28px;
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 22px;
    color: white;
}

.blue-logo{
    width: 116px;
    height: 101px;
}
.view-everything{
    
    width: 300px;
    /* border: red solid 2px; */
}

.view-blue{
    margin-top: 50px;
}

#break-word{
    /* border: yellow 2px solid; */
    font-family: 'Lora';
    font-weight: 400;
    font-size: 28px;
    color: white;
    display: block;
    width: 150px;
    margin-top: -110px;
    margin-left: 130px;
}

.the-story{
    /* border: red 2px dashed; */
    width: 500px;
    margin-top: 350px;
    margin-left: 100px;
}
.create-login{
    /* border: red 2px dashed; */
    width: 500px;
    margin-left: 250px;
    margin-top: 150px;
}
.our-story{
    display: flex;
    flex-direction: row;
    
}

#brown-rec{
    margin-top: 70px;
}

#brown-logo{
    position: relative;
    top: -300px;
}

#screen-logo{
    position: relative;
    top: -600px;
    margin-left: 170px;
}

.story-head{
    width: 589px;
    height: 40px;
    font-family: 'Lora';
    font-weight: 600;
    font-size: 32px;
}

.story-story{
    /* border: solid 2px red; */
    width: 559px;
    height: 168px;
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

.mission{
    background-color: rgb(20, 57, 76);
    height: 406px;
    width: 1200px;
    margin: auto;
    /* border: red solid 2px; */
}

.mission-talk{
    width: 386px;
    height: 234px;
    margin-left: 650px;
    padding-top: 0px;
    /* border: white 2px dashed; */
    color: white;
    margin-top: -450px;

}

.mission-head{
    font-family: Lora;
    font-weight: 600;
    font-size: 32px;
    width: 386px;
    height: 40px;
}

.representation{
    width: 386px;
    height: 46px;
    font-family: Lora;
    font-weight: 400;
    font-size: 24px;
}

.now-download{
    width: 182px;
    height: 58px;
    font-family: 'Open Sans';
    font-weight: 700;
    font-size: 14px;
    border-radius: 4px;
    margin-top: 60px;


}

.large-building{
    width: 270px;
    height: 570px;
    margin-top: -60px;
    margin-left: 110px;
}

.our-mission{
    border-bottom: 1px rgba(215, 209, 202, 1) solid;
    height: 602px;
    width: 1200px;
    margin-left: 160px;
    margin-top: -450px;
}

.bulk-story{
    background-color: #FFF9F2;
}

.immersive{
    background-color: #14394C;
    color: white;
    height: 654px;
    display: flex;
    flex-direction: row;
}

.d-word{
    /* border: red 2px solid; */
    width: 709px;
    height: 210px;
    margin: auto;
}

#upside{
    /* border: red solid 2px; */
    width: 607px;
    height: 654px;
}

.get-started{
    font-family: 'Lora';
    font-weight: 600;
    font-size: 32px;
    width: 589px;
    height: 80px;

}

.environ{
    width: 589px;
    height: 32px;
    font-family: 'Lora';
    font-weight: 400;
    font-size: 24px;
}

.down-load{
    width: 182px;
    height: 58px;
    border-radius: 4px;
    padding: 56px, 38px, 56px, 38px;
    margin-top: 10px;
}


.testimonies{
    display: flex;
    flex-direction: row;
    width: 1200px;
    /* border: red solid 2px; */
    margin: auto;
    margin-top: 60px;
}

.testimonier{
    display: flex;
    flex-direction: row;
}

.about-us{
    font-family: 'Lora';
    font-weight: 600;
    font-size: 32px;
    text-align: center;
    padding-top: 60px;
}

.testimony1{
    width: 387px;
    height: 312px;
    border-radius: 10px;
    border: 1px #728894 solid;
    padding: 20px;
}
.testimony2{
    width: 387px;
    height: 312px;
    border-radius: 10px;
    border: 1px #728894 solid;
    padding: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

.game-changer{
    height: 32px;
    width: 261px;
    font-family: 'Lora';
    font-weight: 600;
    font-size: 24px;

}

.review{
    width: 347px;
    height: 168px;
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

.indication{
    background-color: #FFF9F2;
    height: 550px;
}

.pic-shot{
    margin-right: 10px;
}

.letter-news{
    display: flex;
    flex-direction: row;
    background-color: rgb(109, 24, 48);
    height: 200px;
    padding-top: 64px;
    padding-left: 120px ;
}

#our-news{
    width: 584px;
    height: 28px;
    font-family: 'Open Sans';
    font-weight: 600;
    font-size: 22px;
    color: white;
}

.latest-news{
    width: 584px;
    height: 20px;
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 14px;
    color: white;
}

.email-intake{
    width: 459px;
    height: 40px;
    border-radius: 6px;
    border: solid 1px #D1D5DB;
    padding: 10px;
}

.subscribe-btn{
    width: 113px;
    height: 40px;
    border-radius: 4px;
    padding-top: 10px;
    padding-left: 22px;
    padding-right: 22px;
    padding-bottom: 24px;
    background-color: #FFF9F2;
    color: #6D1830;
    font-family: 'Open Sans';
    font-weight: 700;
    font-size: 14px;
    text-align: center;
}

.blog-links{
    display: flex;
    flex-direction: row;
    height: 200px;
   
}

.about-link1{
    width: 42px;
    height: 22px;
    font-family: 'Open Sans';
    font-weight: 600;
    font-size: 14px;
    color: black;
    text-decoration: none;
    padding-top: 30px;
    /* border: 2px solid red; */
}
.about-link2{
    width: 42px;
    height: 22px;
    font-family: 'Open Sans';
    font-weight: 600;
    font-size: 14px;
    color: black;
    text-decoration: none;
    margin-left: 30px;
    margin-right: 30px;
    /* border: 2px solid red; */
}
.about-link3{
    width: 42px;
    height: 22px;
    font-family: 'Open Sans';
    font-weight: 600;
    font-size: 14px;
    color: black;
    margin-right: 30px;
    text-decoration: none;
    /* border: 2px solid red; */
}
.about-link4{
    width: 42px;
    height: 22px;
    font-family: 'Open Sans';
    font-weight: 600;
    font-size: 14px;
    color: black;
    text-decoration: none;
    /* border: 2px solid red; */
}

.download-contact{
    margin-left: 150px;
    margin-top: 50px;
}

.google-play{
    margin-left: 800px;
    margin-top: 100px;
}

#app-down{
    text-decoration: none;
    width: 126px;
    height: 20px;
    font-weight: 600;
    font-size: 14px;
    font-weight: 'Open Sans';
    color: #374151;
    padding-bottom: 30px;
    /* border: red solid 2px; */
}

.about-links{
    margin-top: 35px;
    /* border: red solid 2px; */
}
#google-play-pic{
    margin-top: 10px;
}

#terms-service{
    width: 113px;
    height: 20px;
    font-family: 'Open Sans';
    font-weight: 600;
    font-size: 14px;
    text-decoration: none;
    color: #6B7280;
}
#privacy-policy{
    text-decoration: none;
    width: 113px;
    height: 20px;
    font-family: 'Open Sans';
    font-weight: 600;
    font-size: 14px;
    color: #6B7280;
}

.icon-terms{
    display: flex;
    flex-direction: row;
    width: 1300px;
    height: 50px;
    margin: auto;
    /* border: 2px red solid; */
    
}

.icon{
    margin-right: 850px;
    width: 200px;
}

.faq-head{
    width: 458px;
    height: 40px;
    font-family: 'Lora';
    font-weight: 600;
    font-size: 32px;
    line-height: 40px;
    text-align: center !important;
    margin: auto;
    padding-top: 30px;
    padding-bottom: 60px;
}

.faq-direction{
    width: 599px;
    height: 28px;
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 22px;
    line-height: 28px;
    margin: auto;
    padding-bottom: 50px;
}

.faq-accord{
    width: 794px;
    height: 460px;
    margin: auto;
    background-color: #FFF9F2;
    /* border: red 2px solid; */
   
}

.accord-head{
    width: 526px;
    height: 98px;
    font-family: 'Open Sans';
    font-weight: 600;
    font-size: 22px;
    line-height: 28px;
    background-color: #FFF9F2;
}
.accordion-content{
    width: 794px !important;
    width: 48px;
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    background-color: #FFF9F2;
    /* border: red 2px solid; */
}
.faq{
    /* border: 2px yellow solid; */
    width: 1;
    height: 788px;
    margin: auto;
    background-color: #FFF9F2;
    
    
}

#button-accordion{
    background-color: #FFF9F2;
}